    /*--GENERAL CSS---*/

:root {
    /*colours*/
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-blue: #2563eb;

    /*sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}


html {
    scroll-behavior: smooth;
}

.logo {
    display: inline;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.section {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


.nav__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.header__menu {
    display: none;
}

.header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-light);
    letter-spacing: 0em;
    transition: color 0.3s;
}

.header__link:hover {
    color: var(--clr-blue)
}

.header__bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}

.mobile-nav {
    position:sticky;
    z-index: 999;
    width: 100;
    height: 100;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: slategrey;
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.mobile-nav__link:hover {
    color: var(--clr-blue);
}


.main__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

img {
    max-width: 100%;
}

img:hover {
    filter: brightness(1.2);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

h1 {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-align: center;
}

h2 {
    font-size: var(--size-xl);
    color: var(--clr-light);
    text-align: center;
}

h3 {
    font-size: var(--size-lg);
    color: var(--clr-light);
    text-align: center;
}
 
p {
    font-size: var(--size-sm);
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: slategray;
    }

blockquote {
    font-size: var(--size-sm);
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: slategray;
}


footer {
    font-size: var(--size-xs);
    font-weight:400;
    color: slategrey;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
    margin: 2rem;

}

button {
    display: inline-block;
    padding: 0%;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}




a {
    color: var(--clr-blue);
}

    /* HOMEPAGE CSS STYLES */
.home__heading{
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}
    
.home__paragraph {
    font-size: var(--size-sm);
    color: var(--clr-light);
}

.homepage__img-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
}


.homepage__img-wrapper {
    position: relative;
}

.homepage__img-wrapper::after {
    content: '';
    background-color: rgba(79, 70, 229, 0);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.homepage__img-wrapper:hover::after {
    background-color: rgba(79, 70, 229, 0.4); 
}

.homepage__label {
    font-size: var(--size-base);
    text-transform: capitalize;
    margin-bottom: 0.25em;
}

.homepage__features {
    padding: 0;
    list-style: lower-alpha;
}

.homepage__list {
    font-size: var(--size-sm);
    color: slategray;
    text-transform: capitalize;
}

.home__description {
    font-size: var(--size-sm);
    display: flex;
    justify-content: space-around;
    color: slategray;
}
    

    /* ABOUT US CSS STYLES */
    .about__content {
        text-align: center;
        display:flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .about__heading {
        font-size: var(--size-2xl);
        color: var(--clr-light);
        text-align: center;
    }
    
    .about__paragraph {
        max-width: 60ch;
        font-size: var(--size-sm);
        color: slategray;
        text-align: center;
        margin: 1rem auto;
    }
    
    .about__founders {
        margin-bottom: 5rem;
    }
    
    .about__founders:not(:last-child) {
        margin-bottom: 5rem;
    }
    
    .about__info {
        font-size: var(--size-xl);
        color: var(--clr-light);
        text-align: center;
    }
    
    .about__info-title {
        font-size: var(--size-base);
        margin-bottom: 1rem;
    }
    
    .about__img-wrapper {
        position: relative;
    }
    
    .about__img-wrapper::after {
        content: '';
        background-color: rgba(79, 70, 229, 0);
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background-color 0.3s;
    }
    
    .about__img-wrapper:hover::after {
        background-color: rgba(32, 22, 215, 0.1); 
    }
    
    .about__description {
        font-size: var(--size-sm);
        color: slategray;
        margin: 1rem;
    }
    
    .core-value__img {
        max-width: 100%;
    }

    .core-value__img:hover {
        filter: brightness(1.2);
    }
    
    .about__list {
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style:decimal;
        padding-left: 1em;
    }
    
    #lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    #lightbox img {
        max-width: 90%;
        max-height: 90%;
        margin: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
    }

    /* PRODUCTS AND SERVICES CSS STYLES */


    /* NEWS CSS STYLES */
        
    

    /* CONTACT US CSS STYLES */

    .contact-method {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    
     #contactForm {
        flex-wrap: wrap;
        justify-content: space-between; /* Add space between form elements */
    } 
    

    

/* Mobile Phone Styles */

/*--GENERAL MOBILE MEDIA SCREEN---*/
@media screen and (min-width: 475px) {
    .container {
        max-width: 768px;
    }  
}


/* Tablet Styles */

/*--GENERAL TABLET MEDIA SCREEN---*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 1245px;
    }  

    .logo {
        width: 6.5rem;
        height: 6.5rem;
    }
    
    .section {
        gap: 1.5rem;
    }
    
    h1{
        font-size: var(--size-3xl);
    }
    
    p {
        font-size: var(--size-base); 
        margin: 1.5rem auto;
    }

    blockquote {
        font-size: var(--size-base); 
        margin: 1.5rem auto;
    }

    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0%;
        gap: 2em;
    }
    
    .header__link {
        font-size: var(--size-sm);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light);
        letter-spacing: 0em;
        transition: color 0.3s;
    }

    .header__link:hover{
        color: var(--clr-blue);
    }

    .header__bars {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    /* HOMEPAGE TABLET MEDIA SCREEN */
    .homepage__img-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    }

    .header__link{
        color: var(--clr-blue);
    }

    .header__bars {
        display: none;
    }

    .homepage__label {
        font-size: var(--size-lg);
    }
    
    .homepage__list {
        font-size: var(--size-base);
    }

    /* ABOUT US TABLET MEDIA SCREEN */
    .about__heading {
        font-size: var(--size-3xl);
    }

    .about__img-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    }
    
    .about__paragraph {

        font-size: var(--size-base); 
        margin: 1.5rem auto;
    }

    .about__info {
        font-size: var(--size-2xl);
    }

    .about__info-title {
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }
    
    .about__description {
        font-size: var(--size-base);
        margin-bottom: 1.5rem;
    }

    .about__founder-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 0 1rem 0;
    }

    /* PRODUCTS AND SERVICES TABLET MEDIA SCREEN */


    /* NEWS TABLET MEDIA SCREEN */


    /* CONTACT US TABLET MEDIA SCREEN */
}



/* Desktop Styles */

/*--GENERAL DESKTOP MEDIA SCREEN---*/
@media screen and (min-width: 1245px) {
    .container {
        max-width: 1920px;
    } 

    .header__link {
        font-size: var(--size-lg);
    }
    
    .header__bars {
        display: none;
    }

    .logo {
        width: 10rem;
        height: 8rem;
    }
    
    .section {
        gap: 2rem;
    }

    h1 {
        font-size: var(--size-4xl);
    }
    
    p {
        font-size: var(--size-lg);
        margin: 2rem auto;
    }

    blockquote {
        font-size: var(--size-lg);
        margin: 2rem auto;
    }


    /* HOMEPAGE DESKTOP MEDIA SCREEN */
    .home__title{

        font-size: var(--size-6xl);
    }
    
    .home__description {
        font-size: var(--size-xl);
    }

    .homepage__label {
        font-size: var(--size-xl);
    }
    
    .homepage__list {
        font-size: var(--size-lg);
    }

    /* ABOUT US DESKTOP MEDIA SCREEN */
    .about__heading {
        font-size: var(--size-4xl);
    }
    
    .about__paragraph {
        font-size: var(--size-lg);
        margin: 2rem auto;
    }

    .about__info {
        font-size: var(--size-3xl);
    }

    .about__info-title {
        font-size: var(--size-xl);
        margin-bottom: 2rem;
    }
    
    .about__description {
        font-size: var(--size-lg);
        margin-bottom: 2rem;
    }

    /* PRODUCTS AND SERVICES DESKTOP MEDIA SCREEN */


    /* NEWS DESKTOP MEDIA SCREEN */


    /* CONTACT US DESKTOP MEDIA SCREEN */
}